.formContainer {
  display: flex;
  flex-direction: column;
  background-color: #fff;
  border-radius: 8px;
  font-family: sans-serif;
  padding: 1rem 0;
}

/* .inputWithIcon {
  position: relative;
  display: flex;
  align-items: center;
} */

/* .inputWithIcon .input {
  padding-right: 30px;
}

.icon {
  position: absolute;
  right: 10px;
  pointer-events: none;
} */

.buttonGroup {
  display: flex;
  justify-content: space-between;
}

.resetButton,
.submitButton {
  padding: 8px 16px;
  border-radius: 6px;
  font-size: 14px;
  cursor: pointer;
  border: 1px solid transparent;
}

.resetButton {
  background-color: white;
  border: 1px solid #5b3fbb;
  color: #5b3fbb;
}

.submitButton {
  background-color: #5b3fbb;
  color: white;
}

.select-wrapper {
  margin-bottom: 16px;
}

label{
  color: #5b3fbb;
}

select {
  height: 32px;
  border-radius: 4px;
  font-size: 16px;
  background-color: ebebeb;
  cursor: pointer;
  color: #707070;
  outline: none;
  border: none;

  &:hover {
    background-color: #d8d8d8;
  }
  &:valid {
    color: black;
  }

  option {
    color: black;
    background-color: white;
  }
}